<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="my-4">
        <h2>Se connecter</h2>
    </div>
    <form th:action="@{/authenticate}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <p style="color: red" th:if="${loginError}" class="cinError" th:text="${loginError}"></p>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <p style="color: red" th:if="${loginErrorCredential}" class="cinError" th:text="${loginErrorCredential}"></p>

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/registry">Créer un compte</a>
    </form>
</div>
</body>
</html>