body {
    background-image: url("background.jpg");
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.content{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    flex-basis: 20%;
    margin-right: 22px;
    align-items: center;
}

.first-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    flex-basis: 40%;
    gap: 12px;
    margin-right:12px ;
}

.second-container{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: baseline;
    text-align: center;
    gap: 12px;
}

.employee_image{
    border: 1px transparent;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:first-child a {
    margin-right: 10px;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: blue;
    padding: 5px;
    font-size: 20px;
}

.attribute {
    color: black;
    font-size: large;
    font-family: bold, sans-serif;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.edit-btn{
    color: blue;
    cursor: pointer;
}