<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" >
</head>
<body>
<div class="container">
    <h1>SocioPro Form</h1>
    <form  th:object="${sociopro}" th:action="@{/socio/save}" method="post">
        <label for="categories">Categories:</label>
        <input type="text" id="categories" name="categories" th:field="*{categories}" required>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>